# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pdb
*.egg-info/
*.egg
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Ambientes virtuais
.venv/
venv/
ENV/
env/

# IDEs / editores
.vscode/
.idea/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Excel / saídas geradas
*.xlsx
*.csv

# PyInstaller
build/
dist/
*.spec

# Executáveis
*.exe
